.content-page-wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh -84px);

    a:hover {
        cursor: pointer;
    }

    a {
        text-decoration: none;
        .text {
            color: $charcoal;
        }
    }

    .left-column {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;

    }

    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10% ;
    }

    .contact-bullet-points {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 21px;

        .bullet-point-group {
            display: flex;
            align-items: center;

            .icon {
                font-size: 2em;
                color: $teal;
                align-items: left;

            }

            .text {
                font-size: 1em;
                font-weight: 900;
                margin-left: 21px;
            }
        }
    }

    
}

@media (max-width: 415px) {
    .content-page-wrapper {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: [profile-s] 1fr [profile-e bio-s] 300px [bio-e contact-s] 1fr [contact-e] ;


    
        .left-column {
            grid-row: profile-s/profile-e;
            transform: translateY(-70px);
            height: 100vh;
        }
    
        .right-column {
            grid-row: bio-s/bio-e;


        }


        
    }
    
}