.portfolio-detail-wrapper {
    width: 100vw;
    margin-bottom: 50px;

    .banner{
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 15px 20px rgba(0,0,0,0.3);
    }

    .banner::after {
        display: block;
        position: absolute;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, black 100%);
        margin-top: -150px;
        height: 50%;
        width: 100%;
        content: '';
      }

    .portfolio-detail-description-wrapper {
        text-align-last: center;
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-20px);
        

        .description {
            width: 700px;
            font-size: 2em;
            margin-bottom: 50px;
        }
    }

    .bottom-content-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .site-link {
            padding: 15px;
            background-color: $teal;
            border-radius: 3px;
            text-decoration: none;
            color: white;
            transition: 0.5s ease-in-out;
            font-size: 1.2em;

            &:hover {
                background-color: $dark-teal;
            }
        }
    }
}

@media (max-width: 415px) {
    
    .portfolio-detail-wrapper {
        .portfolio-detail-description-wrapper {
            text-align-last: left;
            padding: 20px;

            .description {
                width: 700px;
                font-size: 1em;
                margin-bottom: 20px;
            }
        }

    }

}